.fa-heart
{

margin: $mar-text-left; 


cursor: pointer;


    &:hover {
   animation-name: coeur;
   animation-duration: 1s;
   animation-fill-mode: forwards;
   
   
    
    }

    &:active{background-color: $couleur-violet; font-size: small; margin-right: $mar-text-left + 5;}

    
}