$mar-text: 5px ; 
$mar-text-left: 10px ; 
$couleur-vert: #99E2D0;
$ombres: rgb(216, 216, 216) 0px 5px 5px;
$ombres-survol:  rgb(145, 145, 145) 0px 10px 10px;
$lepad: 20px 0px 20px 0px;
$couleur-violet: rgba(147, 86, 220);
$degrade: linear-gradient(to right bottom, rgb(255, 121, 218), rgb(147, 86, 220));
$rond: 20px;
$app : 2s;

@mixin textreduc{
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    direction: ltr;}

@mixin centrer{display: flex; justify-content: center; align-items: center;}

@font-face {
    font-family: "sh";
    src: url("polices/Shrikhand-Regular.otf");}

@keyframes entrer_menu
{
    0% {opacity: 0;}
    100%{opacity: 1; }
}
 @keyframes coeur{

    0% {color: white; font-weight: bold; }
    100% {color: $couleur-violet; font-weight: bold;}
 }


 @keyframes progress{

    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
        }
 }
@keyframes progresso{

        0% {width: 100%;}

            100% {
                width: 85%;
                }

}

@keyframes spin {
    0% { transform: rotate(0deg);}
    100% { transform: rotate(360deg);  }}

 @keyframes disparition{

    0%{opacity: 1;}
    99% {opacity: 0; transform: translateX(0)}
    100%{transform: translateX(-9999px)}
    }